#mainSection{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
  "aside article"

}

#mainSectionArticle{
  grid-area: article;
  color: black;
}

#mainSectionAside{
  grid-area: aside;
  color: black;
}