#OrderXMLSection{
  color: #003246;
  display: flex;
  flex-direction: column;
  height:100%;
  justify-content: center;
  align-items: center;
  
}
#OrderXMLContainer{
  width: 75vw;
}

button {
  width: 100%;
  background-color: var( --nova-primary);
  color: var( --nova-text-secondary);
  color:#fff;
  background-color: #003246;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
/* button:hover {
  background-color: var( --nova-tirtuary );
  color: var( --nova-text-primary );
} */