#mainSection{
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
  "aside article";
  position: relative;
  color: var(--nova-text-primary);
  gap: 10px;
}

#mainSectionArticle{
  grid-area: article;

}

#mainSectionAside{
  grid-area: aside;
position: sticky;
top: 0;
align-self: start;
margin:20px;
background-color: #e5e4e2;
color: #003246;
}

#branchContainer{

  display: flex;
  flex-direction: column;
}

#loadingContainer
{
  display: flex;
flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-content: center;
}

#loadingContainer .loader{
  border: 16px solid var(--nova-tirtuary); 
  border-top: 16px solid var(--nova-primary); 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
  
}
.branchInput{
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#branches table{
  width: 100%;
}
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var( --nova-primary);
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button[type=submit] {
    width: 100%;
    background-color: var( --nova-primary);
    color: var( --nova-text-secondary);
 
      color:#fff;
      background-color: #003246;
   
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Add a background color to the submit button on mouse-over */
  /* button[type=submit]:hover {
    background-color: var( --nova-tirtuary );
    color: var( --nova-text-primary );
  } */