@import "./NovaHues.css";

:root{

/* BEGIN FONT */
--nova-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
--nova-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
/* END FONT */



}

/* BEGIN CSS RESET */

*,
:after,
:before {
box-sizing: border-box
}

@media(prefers-reduced-motion:no-preference) {
:root {
  scroll-behavior: smooth
}
}

body {
font-family: var(--nova-body-font-family);
font-size: var(--nova-body-font-size);
font-weight: var(--nova-body-font-weight);
line-height: var(--nova-body-line-height);
color: var(--nova-text-primary);
text-align: var(--nova-body-text-align);
background-color: var(--nova-secondary);
-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(0, 43, 51, 0);
}

hr {
margin: 1rem 0;
color: inherit;
border: 0;
border-top: 1px solid;
opacity: .25
}

h1,
h2,
h3,
h4,
h5,
h6 {
margin-top: 0;
margin-bottom: .5rem;
font-weight: 500;
line-height: 1.2
}

h1 {
font-size: calc(1.375rem + 1.5vw)
}

h2 {
font-size: calc(1.325rem + .9vw)
}

h3 {
font-size: calc(1.3rem + .6vw)
}

h4 {
font-size: calc(1.275rem + .3vw)
}

h5 {
font-size: 1.25rem
}

h6 {
font-size: 1rem
}

@media(min-width:1200px) {
h1 {
  font-size: 2.5rem
}
h2 {
  font-size: 2rem
}
h3 {
  font-size: 1.75rem
}
h4 {
  font-size: 1.5rem
}
}

p {
margin-top: 0;
margin-bottom: 1rem
}

ol,
ul {
list-style: none;
padding: 0;
padding-left: 2rem;
margin: 0;

}


dl,
ol,
ul {
margin-top: 0;
margin-bottom: 1rem
}

ol ol,
ol ul,
ul ol,
ul ul {
margin-bottom: 0
}

a {
color: var(--nova-link-color);
text-decoration: underline
}

a:hover {
color: var(--nova-link-hover-color);
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
color: inherit;
text-decoration: none
}

img,
svg {
vertical-align: middle
}

button {
border-radius: 0
}

button:focus:not(:focus-visible) {
outline: 0
}

button,
input,
optgroup,
select,
textarea {
margin: 0;
font-family: inherit;
font-size: inherit;
line-height: inherit
}

button,
select {
text-transform: none
}

/* END CSS RESET */

/*Begin Tables */

table{
border-collapse: collapse;
border: 3px solid var(--nova-primary);
}

th,
td {
padding: 10px;
text-align:left;
}

tr:nth-child(even)
{
background-color: var(--nova-tirtuary);
}

th
{
background-color: var(--nova-primary);
color: var(--nova-text-secondary);
}
/*End Tables */



*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} 

:root{

  --small-text: 0.875rem;
  --extra-small-text: 0.7em;


  /* BEGIN FONT */
  --nova-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  --nova-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* END FONT */

  /* Gradient */
  --nova-gradient: linear-gradient(180deg, hsla(0, 0%, 100%, .15), hsla(0, 0%, 100%, 0));

  /* BEGIN BODY */
  --nova-body-font-family: var(--nova-font-sans-serif);
  --nova-body-font-size: 1rem;
  --nova-body-font-weight: 400;
  --nova-body-line-height: 1.5;
  --nova-body-color: var(--nova-text-primary);
  --nova-body-background-color: var(--nova-primary) 
  /* END BODY */


  /* BEGIN BORDER */
  --nova-border-width: 1px;
  --nova-border-style: solid;
  --nova-border-color: #dee2e6;
  --nova-border-color-translucent: rgba(0, 43, 51, .175);
  --nova-border-radius: 0.375rem;
  --nova-border-radius-sm: 0.25rem;
  --nova-border-radius-lg: 0.5rem;
  --nova-border-radius-xl: 1rem;
  --nova-border-radius-2xl: 2rem;
  --nova-border-radius-pill: 50rem;
  /* END BORDER */

  /* BEGIN LINKS */
  --nova-link-color: #dee2e6;
  --nova-link-hover-color: #0dcaf0;
  /* END LINKS */
}

/* BEGIN CSS RESET */
*,
:after,
:before {
  box-sizing: border-box
}

@media(prefers-reduced-motion:no-preference) {
  :root {
    scroll-behavior: smooth
  }
}

body {
  font-family: var(--nova-body-font-family);
  font-size: var(--nova-body-font-size);
  font-weight: var(--nova-body-font-weight);
  line-height: var(--nova-body-line-height);
  color: var(--nova-text-primary);
  text-align: var(--nova-body-text-align);
  background-color: var(--nova-secondary);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 43, 51, 0);
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: .25
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2
}

h1 {
  font-size: calc(1.375rem + 1.5vw)
}

h2 {
  font-size: calc(1.325rem + .9vw)
}

h3 {
  font-size: calc(1.3rem + .6vw)
}

h4 {
  font-size: calc(1.275rem + .3vw)
}

h5 {
  font-size: 1.25rem
}

h6 {
  font-size: 1rem
}

@media(min-width:1200px) {
  h1 {
    font-size: 2.5rem
  }
  h2 {
    font-size: 2rem
  }
  h3 {
    font-size: 1.75rem
  }
  h4 {
    font-size: 1.5rem
  }
}

p {
  margin-top: 0;
  margin-bottom: 1rem
}

ol,
ul {
  list-style: none;
  padding: 0;
  padding-left: 2rem;
  margin: 0;

}


dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0
}

a {
  color: var(--nova-link-color);
  text-decoration: underline
}

a:hover {
  color: var(--nova-link-hover-color);
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none
}

img,
svg {
  vertical-align: middle
}

button {
  border-radius: 0
}

button:focus:not(:focus-visible) {
  outline: 0
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}

button,
select {
  text-transform: none
}

/* END CSS RESET */

/*Begin Tables */

table{
  border-collapse: collapse;
  border: 3px solid var(--nova-primary);
}

th,
td {
  padding: 10px;
  text-align:left;
}

tr:nth-child(even)
{
  background-color: var(--nova-tirtuary);
}

th
{
  background-color: var(--nova-primary);
  color: var(--nova-text-secondary);
}
/*End Tables */