:root{

  /************************************************************************************ 
  Greys Color 
  ************************************************************************************/

  --white:#ffffff;
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  --black:#000000;

  /************************************************************************************ 
  Primary Color 
  ***********************************************************************************  
  Nova Teal should be one of the most frequently used colors. It’s the color that the world should recognize as belonging to Nova. (Our Color) 

  Nova Teal can be used at 100%, 60%, and 40% opacities to add variety. Use in a gradient and for the logo/icons so that they don’t appear black against white 

************************************************************************************/
 
 
 --NovaTeal: rgb(5, 65,75);
 
 --NovaTeal40: rgba(5, 65,75, 0.40);
 --NovaTeal60: rgba(5, 65,75, 0.60);
  

/************************************************************************************ 
  Secondary Colors  
  ***********************************************************************************   
  Nova Navy is also a heavily-used color, often represented in imagery
  Nova Grey can be used in various opacities to add variety
  
************************************************************************************/

--NovaNavy: #003246;

--NovaGrey: rgb(110,111,107);
--NovaGrey60: rgba(110,111,107,0.60);
--NovaGrey35: rgba(110,111,107,0.35);
--NovaGrey10: rgba(110,111,107,0.10);



/************************************************************************************
  Tertiary Colors 
  *********************************************************************************** 
  Alt Teal should only be used to add flexibility in color choices if Nova Teal can’t be used, as the lightest point

  Black Teal is for situations when Nova Teal and Nova Navy aren’t quite dark enough, but true black would be too harsh. It is the darkest color in Gradient 1 and works well for call-out boxes to create hierarchy and dimension. It should be used sparingly.

************************************************************************************/

--AltTeal:#1a535d;
--BlackTeal: #002B33;



  --nova-text-primary: #003246; 
  --nova-text-secondary: #dee2e6; 

/************************************************************************************
  Information Colors 
************************************************************************************/

  --success: #0f5132;
  --successText:#fbeaec;
  
  --info: #0dcaf0;
  --infoText: #0d59f0;

  --warning: #ffc107;
  --warningText: #0745ff;

  --danger: #dc3545;
  --dangerText: #e7edea;

  
/************************************************************************************
   Gradients
************************************************************************************/

--nova-gradient: linear-gradient(180deg, hsla(0, 0%, 100%, .15), hsla(0, 0%, 100%, 0)) ;

}