.HeroPage
{
position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('../../assets/images/NovaHero.png') no-repeat center center/cover; 
  overflow: hidden;
}
.HeroPage::after{
  border-radius: 100%;
  position: absolute;
  right: -200px;
  left: -200px;
  top: 75vh;
  bottom: -280px;
  content: "";
  background-color: var(--nova-primary);
}

.hero-text{
  letter-spacing: 10px;
  padding: 20px 26px;
  text-shadow: 0 3px 6px #000!important;
  text-align: center;
  color: #fff;
  font-size: 2.5rem!important;
  text-transform: uppercase;
  font-weight: 100;
}


